body { 
    margin: 0; 
    font-family: Helvetica, Arial, sans-serif; 
    background: #f9f9f9; 
    color: #333; 
}

.container { 
    max-width: 1200px; 
    margin: 30px auto; 
    padding: 0 20px; 
}

footer { 
    text-align: center; 
    padding: 20px 0; 
    background: #111; 
    color: #fff; 
    margin-top: 50px; 
}