header {
    background: #111;
    color: #fff;
    padding: 15px 30px;
}

.header-content {
    display: flex;
    justify-content: space-between;
    /* 让 Logo 和 Nav 左右分开 */
    align-items: center;
    width: 100%;
    max-width: 1200px;
    /* 可选：限制最大宽度，防止在大屏太宽 */
    margin: 0 auto;
    /* 居中 */
}

nav a,
#logo {
    color: #fff;
    margin-left: 20px;
    text-decoration: none;
    font-weight: bold;
}

nav a:hover {
    color: #00aaff;
}

/* Breadcrumb */
.breadcrumb {
    margin: 20px 0;
    font-size: 0.9em;
    color: #666;
}

.breadcrumb a {
    color: #00aaff;
    text-decoration: none;
}

.breadcrumb a:hover {
    text-decoration: underline;
}

.breadcrumb span {
    color: #333;
}